<style>
    #map {
        height: 500px;
        width: 900px;
        display: flex;
        justify-content: center;
    }
    .map-container{
        display: flex;
        justify-content: center;
        padding-top: 70px;
    }

</style>
{{!-- <h1>{{title}}</h1>
<div class="info">
    <h3>List of all places</h3>
    <a href="/new">Create new place</a>
    <a href="/show">View List of places</a>
<br>
<br> --}}
<section class="map-container">
    <div id="map"></div>
</section>

